body {
    background-color: #f2f2f2;
    font-family: Arial;
    text-align: center;
}

.container {
    background: white;
    width: 350px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

h1 {
    color: blue;
}